.radioButtons{
   display: grid;
   grid-template-columns: 1fr 1fr;
   flex: 2;         
   width: 100%;
   margin: 0 auto;
   text-align: center;

   .customRadio{
      
      
      input{
         display: none;
      }

      input:checked+.radioBtn{
         border: 3px solid #8373e6;
      }

      input:checked+.radioBtn>.icon{
         opacity: 1;
         transform: translateX(-59%) scale(1);
      }

      .radioBtn{
         margin: 10px;
         width: 400px;
         height: 180px;
         border: 2px solid transparent;
         display: inline-block;
         border-radius: 10px;
         position: relative;
         text-align: center;
         box-shadow: 0 0 20px #f0e4e467;
         transition: all 0.5s ease-in-out;

         &:hover{
            cursor: pointer;
            box-shadow: 0 0 20px #f8292967;
         }

         .icon{
            color: #ffffff;
            background-color: #8373e6;
            font-size: 20px;
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%) scale(4);
            border-radius: 50%;
            padding: 3px;
            transition: 0.2s;
            pointer-events: none;
            opacity: 0;
         }
      
         .poolInfo{
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 150px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
           

            .poolDescription{
               color: #0404059f;                        
               font-size: 18px;
            }

            h3{
               color: #8373e6;
               font-family: "Raleway", sans-serif;
               font-size: 16px;
               font-weight: 600;
               text-transform: uppercase;
            }
         }

        
      }

   }
   
}

.navigation{
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

   .next{
      background-color: white;
      text-transform: uppercase;
      font-weight: 400;
      cursor: pointer;
      border-radius: 5px;
      width: 100px;
      padding: 4px;
      transition: all 0.2s ease-in-out;

      &:hover{
         box-shadow: 0 0 10px gray;
         background-color: blueviolet;
         color: white;
      }
   }
}
